/* Add this CSS to your stylesheet or create a new one */

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table th,
  .table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  
.table th {
    background-color: #f2f2f2;
  }
  
  .table tr:hover {
    background-color: #f5f5f5; 
  }
  
  .table tr:nth-child(odd){
    background-color: #ffffff; 
 }
  .table tr:nth-child(odd):hover{
    background-color: #f9f9f9; 
  }
  
  .table tr:nth-child(even):hover {
    background-color: #ffffff;
  }
  .table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .delete-icon,
  .edit-icon {
    cursor: pointer;
    margin-right: 20px;
    font-size: 20px;
    
  }
  
  .add {
    margin-bottom: 20px;
  }
  
 .btn{
    text-align: right;
 }